* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Lato", sans-serif;
}

.light-grey {
    color: lightgray;
}

body {
    background: linear-gradient(to bottom, #029588 150px, #DCDBD2 100px);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    display: flex;
}

aside {
    height: 900px;
    width: 400px;
    background-color: white;
}

main {
    height: 900px;
    width: 900px;

}

.my-profile {
    background-color: rgb(234, 234, 234);
    padding: 0.5rem;
    display: flex;
    border-right: 1px solid rgb(227, 227, 227);
}

.profile {
    display: flex;
    max-width: 400px;
    align-items: center;
}

.profile>img {
    width: 15%;
    border-radius: 50%;
}

.profile-icons {
    display: flex;
    align-items: center;
}

.profile-icons>i {
    padding: 0 7px;
    color: rgb(177, 177, 177);
}

.notifications {
    display: flex;
    align-items: center;
    background-color: rgb(142, 218, 252);
    padding: 1rem;
}

.bell-bg {
    background-color: rgb(242, 251, 255);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.bell {
    color: rgb(142, 218, 252);
    font-size: 20px;
    padding: 0.5rem;
}

.receive {
    padding-left: 1em;
    font-size: 15px;
}

.underline {
    font-size: 12px;
    text-decoration: underline;
    color: gray;
}

.search-contacts {
    padding: 0.5rem;
    background-color: rgb(234, 234, 234);
    text-align: center;
}

.search-container {
    background-color: white;
    border-radius: 5px;
    color: rgb(187, 198, 212);
}

.search-container>i {
    vertical-align: middle;
    padding: 0 0.5rem;
    border-right: 1px solid lightgray;
}

.search-bar {
    width: 90%;
    padding: 0.5rem;
    border: none;
}


.list-contacts {
    padding: 1rem 0;
    overflow-y: scroll;
}

.list-contacts>ul {
    list-style: none;
}

.contact-container {
    display: flex;
    padding: 0.7em 0.5rem;
    border-top: 1px solid lightgray;
}

.img-container {
    max-width: 50px;
}

.img-container>img {
    width: 100%;
    border-radius: 50%;
}

.info {
    padding: 0 0.5rem;
}

.info>p:last-child {
    font-size: 12px;
}

.end {
    font-size: 10px;
    margin-left: 9rem;
}

.profile-chat {
    background-color: rgb(234, 234, 234);
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    border-left: 1px solid rgb(227, 227, 227);
}

.profile-chat-info {
    display: flex;
    max-width: 900px;
    align-items: center;
}

.profile-chat-info>img {
    width: 45px;
    border-radius: 50%;
}

.chat {
    background-image: url(../img/mine.jpg);
    height: calc(900px - 131px);
    padding: 7rem;
    overflow-y: scroll;
}

.messages {
    display: flex;
    flex-direction: column;
}

.message-sent {
    background-color: rgb(213, 249, 186);
    width: 200px;
    padding: 1rem;
    align-self: flex-end;
    border-radius: 10px;
}

.message-receieved {
    background-color: rgb(255, 255, 255);
    width: 200px;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 10px;
}

div>.my-message {
    text-align: end;
}


.write {
    background-color: rgb(243, 238, 234);
    height: calc(900px - 830px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

.message-bar {
    padding: 1rem;
    width: 80%;
    border: none;
    border-radius: 10px;
}

.fa-face-smile,
.fa-microphone {
    font-size: 25px;
    color: rgb(107, 115, 118);
}